#content {
  margin-left: auto;
  margin-right: auto;
  width: 650px;
  height: auto;
}

#greeting-container {
  margin-top: 20px;
}
#about-me{
  display: flex;
  flex-direction: column;
}
#my-projects{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
#my-projects-parent{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.project-card{
  height: 310px;
  width: 200px;
  border: 2px solid black;
  margin: 20px;
  
}
#contact-information{
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  background-color: dimgray;
}