html {
  scroll-behavior: smooth;
}
.content {
  margin-left: auto;
  margin-right: auto;
  width: 1000px;
  height: auto;
}
#my-projects{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
#my-projects-parent{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.project-card{
  height: auto;
  width: 200px;
  margin: 20px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 7px;
  text-align: center;
}
.project-card:hover{
  transform: scale(1.1);
  box-shadow: 0 12px 24px 0 rgba(0,0,0,0.2);
}
.project-image{
  border-radius: 7px;
}
.contact-information{
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  height: 50px;
  display: flex;
  justify-content: space-around;
  margin-bottom: 50px;
  background-image: linear-gradient(to right, #40C7D5, #7AC0BF,white);
}
.contact-links{
  font-size: 30px;
  color: #595959;
}
#image-gallery{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
#image-gallery img{
  width: 190px;
  height: 190px;
  margin: 10px;
  transition: 0.5s;
}
#image-gallery img:hover{
  filter: opacity(0.7);
  transform: scale(1.1);
}
.navbar{
  background-color: #e3f2fd;
}
.mood-container{
  display: flex;
  justify-content: space-around;
}
.single-button-container{
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
}
#timeline-chart-container{
  height: 520px;
}
h1,h2,h3,h4,h5,h6{
  font-family: 'McLaren';
}
p{
  font-family: 'News Cycle', sans-serif;
  font-size: 20px;
}
h1,h2,h5{
  padding-top: 15px;
  padding-bottom: 15px;
}
a{
  font-family: 'McLaren';
}
.card-header{
  height: 40px;
}
.card{
  margin-top: 20px;
  margin-bottom: 20px;
}
.card-body{
  height: 50px;
  margin-bottom: 10px;
}
.badge-pill{
  margin-left: 10px;
}
#image-gallery-parent{
  background-image: url('images/image-gallery/bgq.jpg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}
.gallery-heading{
  color: white;
}
#my-projects{
  background-image: url('images/image-gallery/bg6.jpg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}
.project-description{
  color: white;
}
#comment-form{
  background-image: url('images/image-gallery/bg8.jpg');
}
#blog1{
  background-image: linear-gradient(to right, #b3e6ff, #ffffff);
  padding: 15px;
}