#content {
  margin-left: auto;
  margin-right: auto;
  width: 650px;
  height: auto;
}

#greeting-container {
  margin-top: 20px;
}
#about-me{
  display: flex;
  flex-direction: column;
}
#my-projects{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
#my-projects-parent{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.project-card{
  height: 310px;
  width: 200px;
  border: 2px solid black;
  margin: 20px;
  
}
#contact-information{
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  background-color: #d9d9d9;
  height: 30px;
}
.contact-links{
  font-size: 30px;
  margin-left: 10px;
}
#image-gallery{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
#image-gallery img{
  width: 190px;
  height: 190px;
  margin: 10px;
  transition: 1s;
}
#image-gallery img:hover{
  filter: brightness(1.5);
  transform: scale(1.1);
}
#photography-me{
  display: flex;
  flex-direction: column;
}